[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky
Comment=Enable Conky at start of XFCE
Exec=bash -c "sleep 5; conky -d;"
StartupNotify=false
Terminal=false
Hidden=false

