[Desktop Entry]
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Name[it]=Redshift
Name[zh_CN]=红移
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
GenericName[zh_CN]=色温调节
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Name[pt_BR]=Redshift
GenericName[pl]=Dostosowanie temperatury barwowej
Version=1.0
Icon=redshift
StartupNotify=true
Comment[tr]=Renk sıcaklığı ayarlama aracı
Categories=Utility;
Name[tr]=Redshift
GenericName[it]=Regolazione della temperatura del colore
Name[ru]=Redshift
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[da]=Justeringsværktøj for farvetemperatur
Name[lt]=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Name[de]=Redshift
Name=Redshift
GenericName[fr]=Réglage de la température de couleur
Terminal=false
Hidden=false
GenericName[es]=Ajuste de la temperatura de color
Comment[de]=Farbtemperatur Anpassungswerkzeug
Type=Application
Comment[hu]=Színhőmérséklet beállító eszköz
GenericName[lt]=Spalvos temperatūros reguliavimas
Name[pl]=Redshift
GenericName[nl]=Kleurtemperatuur aanpassing
X-GNOME-Autostart-enabled=true
Comment[zh_CN]=色温调节工具
Exec=redshift-gtk
Name[es]=Redshift
Comment[fr]=Outil de réglage de la température de couleur
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[es]=Herramienta para el ajuste de la temperatura de color
Name[hu]=Redshift
GenericName[tr]=Renk sıcaklığı ayarı
GenericName[ru]=Настройка цветовой температуры
GenericName[cs]=Přizpůsobení barevné teploty
GenericName=Color temperature adjustment
GenericName[da]=Justering af farvetemperatur
Name[fr]=Redshift
Comment=Color temperature adjustment tool
GenericName[de]=Farbtemperatur Anpassung
GenericName[hu]=Szín hőmérséklet beállítás

